@import "variables";

body {
//  background-color: $gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
a {
  color: inherit;
}

.content-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  display: table;
  &.no-pad {
    padding: 0;
  }
  &.full-width {
    max-width: initial;
  }
  .home-about {
    display: table;
//    height: 250px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 55px 0 75px;
    h2 {
      font-size: 25px;
      margin: 0 0;
    }
    p {
      max-width: 800px;
      margin: 5px auto 0;
      padding: 0 15px;
    }
  }
  .list-container {
    width: 100%;
    min-height: 400px;
    &.search {
      background-image: url("../assets/images/find_home.jpeg");
      background-size: cover;
    }
    &.list {
      background-image: url("../assets/images/search_img.jpg");
      background-size: cover;
    }
    .content-block {
      color: white;
      margin-top: 180px;
      padding: 20px;
      button {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 7px;
        padding: 7px 12px;
        &:hover {
          background-color: white;
          color: $background;
        }
      }
    }
  }
}
.blue-bg {
  background-color: $background;
}
.blue-border {
  border: 15px solid $background;
  &.no-top {
    border-top: 0;
  }
  &.no-bottom {
    border-bottom: 0;
  }
}

navbar {
  position: absolute;
  top: 32px;
  width: 100%;
  color: #263942;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 0 30px;

}
.navbar {
  margin-bottom: 0;
  height: 70px;
  img {
    margin: 15px 0px;
    height: 90px;
  }
  .content-container {
    height: 80px;
  }
  .navbar-brand {
    float: left;
    padding: 0px 10px;
    font-size: 18px;
    background-color: rgba(255,255,255, .7);
    height: 90px;
  }
  .main-nav {
    color: $background2;
    height: 90px !important;
    table {
      width: 100%;
      &.table-top {
        height: 80px;
      }
      &.table-bottom {
        height: 40px;
        tr {
          td {
//            float: left;
            white-space: nowrap;
            padding-right: 2px;
            &:last-child {
              width:100%;
            }
          }
        }
      }
      tr {
        width: 100%;
        td {
          position: relative;
          margin-right: 2px;
          color: $dark-gray;
          &.title {
            background-color: rgba(255,255,255, .7);
            display: block;
            height: 80px;
            padding: 6px 2px 6px 10px;
          }
          &.social {
            padding-right: 2px;
            width: 80px;
            a {
              background-color: rgba(255,255,255, .7);
              height: 100%;
              width: 100%;
              display: block;
              text-align: center;
              font-size: 33px;
              .fa {
                padding-top: 24px;
                color: gray;
              }
            }
          }
          a.bg {
            background-color: rgba(255,255,255, .7);
            height: 38px;
            display: inline-block;
            margin-top: 2px;
            padding: 8px 15px;
            width: 100%;
          }
        }
      }
    }
  }
  ul {
    li {
      border-right: 2px solid $gray;
      &.contact {
        background-color: $brown;
        border-right: 0;
      }
      &.linkedin {
        background-color: #0077b5;
      }
    }
  }
  .navbar-right {
    margin-right: 0 !important;
  }
  .navbar-toggle  {
    margin-top: 18px;
    padding: 9px 0px;
    .icon-bar {
      background-color: white;
    }
  }
  .container-fluid {
    padding-right: 0;
  }
}

.main-content {
  &.home-page {
    width: 100%;
    height: 100%;
    height: 100vh;
    background-image: url("../assets/images/properties/house.jpg");
    background-size: cover;
    .main-container {
      border: 15px solid $background;
//      border: 15px solid rgba(255,255,255,.8);
      height: 100%;
      width: 100%;
    }
  }
}

.title-container {
//  margin: 0 auto;
  display: block;
  @extend %vertical-align;
  width: 100%;
  max-width: 600px;
  margin-left: 15px;
  .large {
    height: 170px;
    width: 630px;
    display: none;
    margin: 0 auto;
  }
  .small {
    height: 355px;
    width: 315px;
    display: block;
    margin: 0 auto;
  }
  .input-group {
    width: 100%;
//    min-width: 350px;
    max-width: 600px;
    padding: 0 30px 0 0;
    input {
      background-color: transparent;
      border: 1px solid white;
      height: 40px;
      padding: 10px 12px;
      font-size: 16px;
      &:focus {
        background-color: white;
      }
    }
    .input-group-btn {
      height: 40px;
      .btn {
        height: 40px;
        padding: 10px 12px;
        font-size: 16px;
        border: 1px solid white;
      }
    }
  }
}

footer {
  min-height: 150px;
  padding-top: 50px;
  background-color: $background2;
  p {
    margin: 0;
  }
}
