.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}




//Base style imports
@import "styles/variables";
@import "styles/small";

@media (min-width: 768px) {
  @import "styles/large";
}
