<div class="main-content home-page text-center">
  <div class="main-container">
    <div class="title-container">
      <h1>Find a Home</h1>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter an Address, City, State, Zip Code or MLS#">
         <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>

<section class="blue-bg">
  <div class="content-container no-pad">
    <div class="home-about">
      <h2>What Makes A Home</h2>
      <p>Et affert dicant erroribus cum, an soleat comprehensam eum. Mei ne dicam decore quaestio, ad sint dicit his. No vel porro euripidis, an sed iusto expetenda. Ne sit postulant suavitate, ad qui stet inani legimus. Cu scripta prodesset has, eos cu natum dissentiunt.</p>
    </div>
  </div>
</section>

<section class="blue-border no-top no-bottom">
  <div class="content-container">
    <p><button onclick="geoFindMe()">Show my location</button></p>
    <div id="out"></div>
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}">
        <div class="caption">
          <h3>{{awesomeThing.title}}</h3>
          <p>{{awesomeThing.description}}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blue-border no-top">
  <div class="content-container no-pad full-width">
    <div class="list-container search">
      <div class="content-block">
        <h2>Find a Home</h2>
        <p>Search for your next home here!</p>
        <button>Let's go!</button>
      </div>
    </div>
    <div class="list-container list">
      <div class="content-block">
        <h2>Sell Your Home</h2>
        <p>Listing with us is the best decision you've ever made!</p>
        <button>Let's get started</button>
      </div>
    </div>
  </div>
</section>



